audioop-lts==0.2.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.2.0
CTkMessagebox==2.7
customtkinter==5.2.2
darkdetect==0.8.0
decorator==5.2.1
future==1.0.0
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.1
h3==4.2.1
idna==3.10
numpy==2.2.3
packaging==24.2
pillow==11.1.0
PyAudio==0.2.14
pycountry==24.6.1
pycparser==2.22
pyperclip==1.9.0
python-dotenv==1.0.1
pytz==2025.1
ratelim==0.1.6
requests==2.32.3
six==1.17.0
SpeechRecognition==3.14.3
standard-aifc==3.13.0
standard-chunk==3.13.0
timezonefinder==6.5.8
tkintermapview==1.29
typing_extensions==4.13.2
urllib3==2.3.0
